body {
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    /* For better compatibility across browsers */
    background: -webkit-linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background: -moz-linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background: -o-linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background: -ms-linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.gridcon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-gap: 6px;
}

img {
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:hover {
    color: #111;
    background: greenyellow;
    box-shadow: 0px 0px 100px greenyellow;
}

.pic {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
}

.pic2 {
    grid-column: span 2 / auto;
}

br {
    margin-bottom: 150px;
}

@keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

/* The element to apply the animation to */
h1
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(270deg, #f58529, #dd2a7b, #8134af, #515bd4);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



